# Python bytecode
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Django media & static files
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db